.tooltip {

    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;

}

.tooltiptext{

margin-right: 6px;

}

.tooltip .tooltiptext {


    visibility: hidden;


}


.tooltip:hover .tooltiptext {

    visibility: visible;


}

.tooltip:hover {

    background-color: gray;
    border-radius: 5px;

}

.item:hover {

    background-color: gray;
    border-radius: 5px;

}