@media (min-width: 719px) {

  .navigator {

    height: 7vh;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;

  }

  .navigator img {

    min-height: 80%;
    min-width: 80%;
    max-width: fit-content;
    max-height: fit-content;
    width: auto;
    height: auto;
    margin-top: 20%;
    margin-bottom: 20%;


  }

  .navigator_social {

    padding: 5px;
    display: block;

  }


}

@media (max-width: 718px) {

  .navigator {

    height: 7vh;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;

  }

  .navigator img {

    min-height: 80%;
    min-width: 80%;
    max-width: fit-content;
    max-height: fit-content;
    width: auto;
    height: auto;
    margin-top: 20%;
    margin-bottom: 20%;


  }


  .navigator_social {

    padding: 5px;
    display: block;



  }
}